.background {
    background-color: #5f605d;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    overflow: auto;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 2;
    left: 0;
    float: left;
    background-color: #5f605d;
    overflow-x: hidden;
    padding-top: 16px;
}

.navbar a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 25px;
    color: #BBBBBB;
    display: block;
    float: left;

}

.navbar a:hover {
    color: #FFFFFF;
    transition: 0.25s;
}

.divider {
    color: #A0BACC;
    border-radius: 2px 2px 2px 2px;
    border: 2px solid;
    margin-top: 75px;
    width: 92%;
}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid lightgrey;
    line-height: 80px;
    font-size: 50px;
    text-align: center;
    color: lightgrey;
    cursor: pointer;
}

.cell:hover {
    background-color: #A0BACC;
}

#containGame {
    font-family: 'Times New Roman';
}

#containCells {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 240px;
    margin:auto;
    padding-top: 20px;
}

button {
    display: block;
    cursor: pointer;
    width: 192px;
    height: 48px;
    border: 2px solid black;
    background-color: lightgrey;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}

button:hover {
    background-color: #A0BACC;
}

.slidecontainer {
    width: 100%;
    display: block;
    margin: auto;
}

#difficultySlider {
    appearance: none;  
    width: 20%; 
    height: 12px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 6px;
    display: block;
    margin: auto;
  }